/* ==========================================================
        General Demo Styles [not related to navbar]
   ==========================================================*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,500&family=Sansita:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Alegreya', serif;
      font-family: 'Sansita', serif;
    font-size:5px ;
    min-height:100%;
    background-color: rgb(241, 242, 242);
    overflow-x: hidden;/*To hide scrollbar for small screen size*/
}
/*@media(max-width:768px){*/
/*    body{*/
/*    font-size:3px ;*/
/*    }*/
/*}*/
.btn{
    font-size:inherit;
}
a:hover{
	text-decoration: none;
}
.wrapper{
	height: 100%;
    /*padding-top: 90px;*/
    z-index: 125;
}
/*p {*/
/*    font-size: 1.2em;*/
/*    line-height: 1.8em;*/
/*    font-weight: 300;*/
/*    color: #555;*/
/*    margin: 30px 0 0;*/
/*}*/
/*span{*/
/*    font-size:3em;*/
/*}*/
/*h5{*/
/*    font-size:4em;*/
/*}*/

strong {
    font-weight: 600;
    color: #333;
}

.main-content {
    padding: 0px 0;
    min-height:82vh;
 }

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border-bottom: 1px dashed #ddd;
}

/* ==========================================================
        Navbar Styles
   ==========================================================*/
.navbar {
    padding:20px 10px;
    background: #333;
    color: #333;
    transition: all 0.3s;
    z-index: 50;
}
.navbar-header button{
	background:#333;
}
#navComponents{

    justify-content:flex-end;
}
#navComponents .row{
    margin-right:0;
    margin-left:0;

}
#navComponents .navbar-form {
    margin-top:10px;
}
#navComponents .navbar-form .form-group{

    margin-bottom:0;
    display:inline-block;
}
#navComponents .navbar-form .navbtn{
    font-size:3em;
}
.navbar-right a{

    font-size:3em ;
}

@media(min-width: 768px){
.navbtn {
color: #fff !important;
text-decoration: none;
padding: 5px 5px;
margin:0 10px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
border: none;
border-radius: 15px;
box-shadow: 0 2px #999;
}
/*.navbar-right a{*/

/*    font-size:3em ;*/
/*}*/
}
#content .navbar-brand .abtn{
    color: #fff !important;
    text-decoration: none;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    outline: none;

    border: none;
    border-radius: 15px;
    box-shadow: 0px 1px 14px 0px #999;


/*}*/

/*#content .navbar .abtn:hover{*/
/*    background-color: darkgrey;*/

/*}*/
/*#content .navbar .abtn:active {*/
/*  background-color: darkgrey;*/
/*  box-shadow: 0 5px #666;*/
/*  transform: translateY(4px);*/
/*}*/

.navbar .navbar-header button {
    background-color: #6dbecc;
    border-color: #46b8da;
    color: white;
    height: 40px;
    width: 30px;
    font-weight: bold;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 1px 14px 0px #999;
}


.navbar .navbar-header button:hover{
    background-color: #333;
}
}
.navbar-header button{
    width: 35px;
    height: 35px;
    border-color: #17a2b8;
}

.navbar-header button:hover
{
    background-color:unset;
    border-color: unset;
}
.navbar-toggler{
    position:absolute;
    right:2%;
}

/*#signup .navbar-btn,#user .navbar-btn{*/
/*    margin: 0px 5px 5px;*/
/*}*/
/*#navComponents .nav .abtn{*/
/*    padding: 5px 10px;*/
    /*background: #6dbecc;*/
/*    color: #fff !important;*/
/*    text-decoration: none;*/

/*    text-align: center;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0px 1px 14px 0px #999;*/
/*    font-weight: bold;*/
/*}*/

/* #navComponents #signup button, #navComponents #user button{*/
/*        background: transparent;*/
/*        box-shadow: 0px 1px 14px 0px #999;*/
/*        color:#fff;*/
/*        text-decoration: none;*/

/*    text-align: center;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*        font-weight: bold;*/
/*        margin:0;*/
/*}*/
/*#navComponents #signup button a,#navComponents #user button a{*/
/*    color: #fff;*/
/*}*/
/*.navbar-right {*/
/*    margin: 0px;*/
/*    padding: 6px 12px;*/
/*}*/


#content .compressed{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6dcc7c;
    color: #6dcc7c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/*.navbar-inverse .navbar-nav>li>a{*/
/*	color: #fff;*/
/*}*/
@media(max-width:1058px){
/*    #navComponents .navbar-form{*/

/*        width:100%*/
/*    }*/
/*    #navComponents .navbar-form .form-group{*/
/*        width: 88%;*/
/*    }*/
/*    #navComponents .navbar-form .form-control{*/
/*        width: 100%;*/

/*    }#navComponents .navbar-form button{*/

/*    }*/
}
@media(min-width:768px){
    .navbar-header{
        width: 40px;
        height: 40px;
        position: relative;
    }
    .navbar-brand{
        position: absolute;
        left: 50px;
        top: -3px;
    }
}
@media(max-width:768px){
    .navbar-brand,.navbar-header{
        width:100%;
        margin-left:auto;
        margin-right: auto;
    }
/*    #navComponents .nav .abtn*/
/*    {*/
/*        box-shadow: none;*/
/*    }*/
/*    #navComponents #signup .btn,#navComponents #user .btn{*/
/*        padding: 5px 10px;*/
/*        text-decoration: none;*/
/*        text-align: center;*/
/*        cursor: pointer;*/
/*        outline: none;*/
/*        border: none;*/
/*        border-radius: 15px;*/
/*        font-size: 1.3em;*/
/*    }*/
/*    #navComponents #signup .btn:hover,#navComponents #user .btn:hover{*/
/*        background:darkgrey;*/
/*    }*/
/*    #navComponents #signup,#navComponents #user{*/
/*        padding: 0px inherit;*/
/*    }*/
    /*#navComponents .navbar-form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }*/
/*    #navComponents .navbar-form .form-group{*/
/*        width: 85%;*/
/*        display: inline-block;*/
/*    }*/
/*    #navComponents .navbar-form button{*/
/*        display: inline-block;*/

/*    }*/
}
@media(max-width:314px){
/*    #content .navbar-brand .abtn{*/
/*        display: none;*/
/*    }*/
}
/*
    DEMO STYLE
*/
#sidebar a,#sidebar a:hover,#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 100;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}
#sidebarCollapse
{
    position:absolute;
    left:2%;
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

/*.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index:150 ;
}*/
.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 75;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
.overlay2.active {
    display: block;
    opacity: 1;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #333;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 3em;
    display: block;
}
@media(max-width:768px){
    #sidebar ul li a {

    font-size: 2em;

}

}
#sidebar ul li a:hover,#sidebar ul li .active,.activity_bar .active {
    color: #7386D5 ;
    font-weight: bolder;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


#sidebar a[data-toggle="collapse"] {
    position: relative;
}


#sidebar ul ul a {

    color: white;
    font-weight: bolder;
    padding-left: 30px !important;
    background: gray;

}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 5em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

footer
{
	background:black;
    justify-content: end;
    margin: auto;
    margin-bottom: 0;
}
footer li{
	list-style: none;
}
footer ul>a{
	font-size:4em;
	color:white;
	line-height: 2em;
}
footer li>a{
    color:#dea4f5;
    font-size: 3em;
}
footer li>a:hover{
    color:#fff;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 114px 0px 0px 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;

}
.main-content{

    color: black;
    width: 100%;


}
.main-content .container{
    margin: 20px auto ;
}
.current{
    display:block ;
}
.none{
    display: none;
}
.pagination{
    font-size:3em;
}




/* ---------------------------------------------------
    FORM DROPDOWN STYLE
----------------------------------------------------- */

/*.bootstrap-select .bs-ok-default::after {*/
/*    width: 0.3em;*/
/*    height: 0.6em;*/
/*    border-width: 0 0.1em 0.1em 0;*/
/*    transform: rotate(45deg) translateY(0.5rem);*/
/*}*/

/*.selectpicker:focus {*/
/*    outline: none !important;*/
/*}*/







