{% extends "index.html" %}

{% block content %}
<button type="button" id="addForum" class=" btn btn-default col-xs-6"><a href={% url 'home:addForum' %} class="forum-modal">Add Forum</a></button>

{{ user.get_username  }}
{% for topic in forums %}
<h2>{{topic.topic}}</h2><br>
<h2>{{topic.description}}</h2><br>

    {%for tag in topic.access.all%}
        <h2>{{tag.tags_forum}}</h2>
    {% endfor %}
       <form method="POST" action="{% url 'home:tags' topic.id %}">
            {% csrf_token %}
            <button  class="btn btn-success"><a class="tag-modal" type='submit' href={%  url 'home:tags' topic.id %}>Add Tag</a></button>
        </form>

{% endfor %}



<div class="modal fade" id="Forum" tabindex="-1" role="dialog" aria-labelledby="ForumTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">

            </div>
        </div>
    </div>
    <script>

        $('.forum-modal').on('click',function(e){
        e.preventDefault();
        $('#Forum').modal('show').find('.modal-content').load($(this).attr('href'));
    });
    </script>

<div class="modal fade" id="Tag" tabindex
="-1" role="dialog" aria-labelledby="TagTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">

            </div>
        </div>
    </div>
    <script>

        $('.tag-modal').on('click',function(e){
        e.preventDefault();
        $('#Tag').modal('show').find('.modal-content').load($(this).attr('href'));
    });
    </script>
{% endblock %}