

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                          <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-google-plus"></i>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body login" >
                    <div class="myform form ">
                            <div class="logo mb-3">
                                <div class="col-md-12 text-center">
                                    <h1>Login</h1>
                                </div>
                            </div>
                            <form action="" method="post" name="login">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                        aria-describedby="emailHelp" placeholder="Enter Password">
                                </div>
                                <div class="col-md-12 text-center ">
                                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="login-or">
                                        <hr class="hr-or">
                                        <span class="span-or">or</span>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <p class="text-center">
                                        <a href="#" class="google btn mybtn"><i class="fa fa-google-plus">
                                            </i> Signup using Google
                                        </a>

                                        <a href="#" class="github btn mybtn"><i class="fas fa-github-plud">
                                            </i>Signup using Github
                                        </a>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 