<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="shortcut icon" href="../../static/images/books.gif" type="image/gif">
    <title>Student Forum</title>

    <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../../static/css/login.css">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    <style>
        .errors{
            padding:0 15px;
            margin-top:-20px;
            margin-bottom:5px;
        }
      .photo img {
        width: auto;
        height: auto;
      }
      .contributor {
        text-align: center;
        font: italic;
        border: 2px solid rgb(161, 161, 199);
        margin: 0px 0px 0px 450px;
        padding: 5px;
      }

      .border-md {
        border-width: 2px;
      }

      .btn-google {
        background: #ea4355;
        border: none;
      }

      .btn-google:hover,
      .btn-google:focus {
        background: #4285f4;
      }

      .btn-GitHub {
        background: rgb(92, 83, 83);
        border: none;
      }

      .btn-GitHub:hover,
      .btn-GitHub:focus {
        background: black;
      }

      body {
        min-height: 100vh;
      }

      .form-control:not(select) {
        padding: 1.5rem 0.5rem;
      }

      select.form-control {
        height: 52px;
        padding-left: 0.5rem;
      }

      .form-control::placeholder {
        color: #ccc;
        font-weight: bold;
        font-size: 0.9rem;
      }
      .form-control:focus {
        box-shadow: none;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light py-3">
      </nav>
    </header>

    <div class="container header">
      <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 photo">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg"
            alt="error"
            class="img-fluid mb-3 d-none d-md-block"
          />
          <h1>Create an Account</h1>
          <p class="font-italic text-muted mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            perferendis.
          </p>
        </div>

        <div class="col-md-7 col-lg-6 ml-auto">
          <form method="POST">
              {% csrf_token %}


            <div class="row">
              <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-user text-muted"></i>
                  </span>
                </div>
                <input
                  id="firstName"
                  required id="id_first_name"
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  class="form-control bg-white border-left-0 border-md"
                >
              </div>
              {% for error in form.first_name.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <!--{% if first_name.help_text %}-->

              <!--      ji<small style="color: grey">hii{{ first_name.help_text }}</small>-->
              <!--{% endif %}-->

              <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-user text-muted"></i>
                  </span>
                </div>
                <input
                  id="lastName"
                  required id="id_last_name"
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  class="form-control bg-white border-left-0 border-md"
                />

              </div>
                {% for error in form.last_name.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}
              <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-envelope text-muted"></i>
                  </span>
                </div>
                <input
                  id="email"
                  required id="id_email"
                  type="email"
                  name="email"
                  placeholder="Email Address"
                  class="form-control bg-white border-left-0 border-md"
                />

              </div>
              {% for error in form.email.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-phone-square text-muted"></i>
                  </span>
                </div>
                <select
                  id="countryCode"
                  name="countryCode"
                  style="max-width: 80px"
                  class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted"
                >
                  <option value="">+91</option>
                </select>
                <input
                  required id="id_phone"
                  type="number"
                  step="any"
                  name="phone"
                  placeholder="Phone Number"
                  class="form-control bg-white border-md border-left-0 pl-3"
                />

              </div>
                {% for error in form.phone.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-black-tie text-muted"></i>
                  </span>
                </div>
                <input
                  id="Username"
                  required id="id_username"
                  type="text"
                  name="username"
                  placeholder="Username"
                  class="form-control bg-white border-left-0 border-md"
                />

              </div>
              {% for error in form.username.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-lock text-muted"></i>
                  </span>
                </div>
                <input
                  id="password"
                  required id="id_password1"
                  type="password"
                  name="password1"
                  autocomplete="new-password"
                  placeholder="Password"
                  class="form-control bg-white border-left-0 border-md"
                />
              </div>
              {% for error in form.password1.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-white px-4 border-md border-right-0"
                  >
                    <i class="fa fa-lock text-muted"></i>
                  </span>

                </div>
                <input
                  id="passwordConfirmation"
                  required id="id_password2"
                  type="text"
                  name="password2"
                  autocomplete="new-password"
                  placeholder="Confirm Password"
                  class="form-control bg-white border-left-0 border-md"
                />

              </div>
              {% for error in form.password2.errors %}
                    <div class="errors" style="color: red">{{ error }}</div>
                {% endfor %}

              <div class="form-group col-lg-12 mx-auto mb-0">
                <button type="submit" class=" btn btn-primary btn-block py-2">
                  <a  class="font-weight-bold">Create your account</a>
              </div>

              <div
                class="form-group col-lg-12 mx-auto d-flex align-items-center my-4"
              >
                <div class="border-bottom w-100 ml-5"></div>
                <span class="px-2 small text-muted font-weight-bold text-muted"
                  >OR</span
                >
                <div class="border-bottom w-100 mr-5"></div>
              </div>

              <div class="form-group col-lg-12 mx-auto">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-block py-2 btn-google">
                  <i class="fa fa-google mr-2"></i>
                  <span class="font-weight-bold">Continue with Google</span>
                </a>
                <a href="{% provider_login_url 'github' %}" class="btn btn-primary btn-block py-2 btn-GitHub">
                  <i class="fa fa-github mr-2"></i>
                  <span class="font-weight-bold">Continue with GitHub</span>
                </a>
              </div>

              <div class="text-center w-100">
                <p class="text-muted font-weight-bold">
                  Already Registered?
                  <a class="login-modal text-primary ml-2" href={% url 'home:logins' %}>Login</a>

                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">

            </div>
        </div>
    </div>
    <script>
        $('.login-modal').on('click',function(e){
        e.preventDefault();
        $('#login').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script>
    <!--<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">-->
    <!--    <div class="modal-dialog modal-dialog-centered" role="document">-->
    <!--        <div class="modal-content">-->

    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<script>-->

    <!--    $('.login-modal').on('click',function(e){-->
    <!--        e.preventDefault();-->
    <!--        $('#login').modal('show').find('.modal-content').load($('.login-modal').href);-->
    <!--    });-->

    <!--</script>-->
    <!--{% block login %}-->
    <!--{% endblock %}-->


  </body>
  <script>
    $(function () {
      $("input, select").on("focus", function () {
        $(this)
          .parent()
          .find(".input-group-text")
          .css("border-color", "#80bdff");
      });
      $("input, select").on("blur", function () {
        $(this)
          .parent()
          .find(".input-group-text")
          .css("border-color", "#ced4da");
      });
    });
  </script>

</html>
