{% extends "index.html" %}

{% block tags_forum %}
<button type="button" id="addForum" class=" btn btn-default col-xs-6"><h3><a href={% url 'home:addForum' %} class="forum-modal">Add Forum</a></h3></button>
    <br><br>

<div style="float:right">

<form>
  <!--<input type="text" placeholder="Search.." name="search"{% if search %} value="{{ search }}" {% endif %}>-->
  <!--<button type="submit"><i class="fa fa-search"></i></button>-->
<!--<a href="{% url 'home:content' %}"><i class="fa fa-undo"></i></a>-->
</form>
</div>
{% for tag in tags %}
{% with topic=tag.tags_access %}
<div class="mb-5" style="border:3px solid black;padding:10px;">
    <form method="POST" >
            {% csrf_token %}
            <h4><a  style="display:inline-block; color:black;"  type='submit' href={%  url 'home:comment' topic.id %}>{{topic.topic}}</a></h4>
    </form>

<p>{{topic.description}}</p>
<h5>Answers:{{topic.discuss_access.count}}</h5>
    <h5 style="display:inline;">Tags: </h5>
    {%for tag in topic.tag_access.all%}
        {% if tag.tags_forum != null %}
            <span>{{tag.tags_forum}}>> </span>
        {% else %}
            <span>No Tags Available</span>
        {% endif %}


    {% endfor %}


    <br>

    <hr>
    <form  action="{% url 'home:upvote' topic.id %}" method="POST" class="form">

    {% csrf_token %}


        <button type="submit" id="uv" class="btn btn-primary">+</button>
        <button type="submit"id="dv" formaction="{% url 'home:downvote' topic.id %}" class="btn btn-primary">-</button>
        <script>

        </script>
    <span style="float:right;">{{topic.total}} Posted By-{{topic.owner}} on {{topic.date_created}}</span>
     </form>

       <form method="POST" >
            {% csrf_token %}
            <button class=" mr-2 btn btn-success"><a data-id="{{topic.id}}"  style="color:white;" class="tag-modal" type='submit' href={%  url 'home:tags' topic.id %}>Add Tags</a></button>
        </form>
        {% if topic.owner == user %}



            <button class=" mr-2 btn btn-success" ><a style="color:white;"  class=" delete-modal" href="{% url 'home:delete_forum' topic.id %}" >Delete</a>

            <button class=" mr-2 btn btn-success" ><a style="color:white;"  class=" delete-modal" href="{% url 'home:forum_update' topic.id %}" >Update</a>

            </button>
        {% endif %}
        <hr>


    <br>
</div>
{% endwith %}
{% endfor %}




<div class="modal fade" id="Forum" tabindex="-1" role="dialog" aria-labelledby="ForumTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">

            </div>
        </div>
    </div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            {% block delete-topic.id %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="modal fade" id="Tag" tabindex="-1" role="dialog" aria-labelledby="TagTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">

            </div>
        </div>
    </div>
    <script>

        $('.tag-modal').on('click',function(e){
        e.preventDefault();
        var data_id = $(this).attr("data-id");
        var url=$('.tag-modal').href;
        console.log(data_id);
        url=url+'/'+data_id;
        $('.tag-modal').attr.href=url;
        console.log($('.tag-modal').attr.href);
        $('#Tag').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    </script>
    <script>

        $('.forum-modal').on('click',function(e){
        e.preventDefault();
        console.log($('.forum-modal').attr('href'));
        // window.location.href=$('.forum-modal').attr('href');
        $('#Forum').modal('show').find('.modal-content').load($('.forum-modal').attr('href'));


    });

    </script>
{% endblock %}